/obj
.DS_Store
/library-management-backend/obj
/library-management-backend/bin
/library-management-backend/.vscode
/library-management-backend/.idea


/library-management-frontend/node_modules
/library-management-frontend/.pnp
/library-management-frontend/.pnp.js

/library-management-frontend/coverage
/library-management-frontend/build

/library-management-frontend/.DS_Store
/library-management-frontend/.env.local
/library-management-frontend/.env.development.local
/library-management-frontend/.env.test.local
/library-management-frontend/.env.production.local

/library-management-frontend/npm-debug.log*
/library-management-frontend/yarn-debug.log*
/library-management-frontend/yarn-error.log*
